[submodule "scripts/dtc-aosp/dtc"]
	path = scripts/dtc-aosp/dtc
	url = https://github.com/KyuoFoxHuyu/dtc-aosp
[submodule "scripts/ufdt/libufdt"]
	path = scripts/ufdt/libufdt
	url = https://android.googlesource.com/platform/system/libufdt
